<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.daeun.medialibrary.dao.LibraryBoardDAO">
    <select id="selectListPost" resultType="java.util.LinkedHashMap">
        SELECT * FROM board
    </select>

    <select id="selectListPostID" parameterType="int" resultType="com.daeun.medialibrary.vo.LibraryBoardVO">
        SELECT * FROM board
        WHERE id = #{id}
    </select>

    <insert id="insertPost" parameterType="com.daeun.medialibrary.vo.LibraryBoardVO">
        INSERT INTO board (title, content, writer, view_cnt, notice_yn, delete_yn, created_date)
        VALUES (#{title}, #{content}, #{writer}, #{viewCnt}, #{noticeYn}, #{deleteYn}, NOW())
    </insert>
</mapper>